openapi: 3.0.0
info:
  title: InsightPortal - Top
  version: '1.0'
  contact:
    url: www.qualitytaskforce.com
servers:
  - url: 'https://api.insightportal.io'
paths:
  /top/desktopbrowsers/global/:
    get:
      summary: Get global desktop browsers
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    marketPen:
                      type: number
      description: Retrieves the market shares of desktop browsers globally
      security:
        - BASIC_AUTH: []
  /top/mobileos:
    get:
      summary: Get top mobileOS
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    marketPen:
                      type: number
      description: Retrieves market shares for Android and iOS globally
      security:
        - BASIC_AUTH: []
  '/top/devices/{limit}':
    parameters:
      - type: string
        name: limit
        in: path
        required: true
        schema:
          type: number
        description: Between 0 and 100
    get:
      summary: Get global top devices
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    brand:
                      type: string
                    model:
                      type: string
                    marketPen:
                      type: number
      description: Retrieves the devices with the highest marketshares globally.
      security:
        - BASIC_AUTH: []
components:
  schemas: {}
  securitySchemes:
    BasicAuth:
      type: http
      scheme: Basic
      description: '"Basic" followed by a username and password separated by a colon, encoded in Base64.'
