openapi: 3.0.0
info:
  title: InsightPortal - ReleaseAdvisor
  version: '1.0'
  contact:
    url: www.qualitytaskforce.com
  description: Endpoints related to ReleaseAdvisor
servers:
  - url: 'https://api.insightportal.io'
paths:
  '/releaseadvisor/{uuid}':
    parameters:
      - type: string
        name: uuid
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Get ReleaseAdvisor Event
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  end_date:
                    type: string
                  article_id:
                    type: string
                  subtitle:
                    type: string
                  published:
                    type: boolean
                  category:
                    type: string
                  title:
                    type: string
                  uuid:
                    type: string
                  start_date:
                    type: string
      description: Retrieves a specific Release Advisor event
      security:
        - BasicAuth: []
  /releaseadvisor/:
    get:
      summary: Get all ReleaseAdvisor Events
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    end_date:
                      type: string
                    article_id:
                      type: string
                    subtitle:
                      type: string
                    published:
                      type: boolean
                    category:
                      type: string
                    title:
                      type: string
                    uuid:
                      type: string
                    start_date:
                      type: string
        '':
          content:
            application/json:
              schema:
                type: object
                properties: {}
      description: Retrieves all Release Advisor events
      security:
        - BasicAuth: []
  '/releaseadvisor/nextarticles/{n}':
    parameters:
      - type: string
        name: 'n'
        in: path
        required: true
    get:
      summary: Get Next ReleaseAdvisor Events with Articles
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    sefUrl:
                      type: object
                      properties:
                        sefUrl:
                          type: string
                        uuid:
                          type: string
                    releaseAdvisor:
                      type: object
                      properties:
                        end_date:
                          type: string
                        article_id:
                          type: string
                        subtitle:
                          type: string
                        published:
                          type: boolean
                        category:
                          type: string
                        title:
                          type: string
                        uuid:
                          type: string
                        start_date:
                          type: string
      description: Retrieve the next `n` Release Advisor events with linked articles included.
      security:
        - BasicAuth: []
  /releaseadvisor/all:
    get:
      summary: Get all ReleaseAdvisor events between dates
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    releaseAdvisor:
                      type: object
                      properties:
                        uuid:
                          type: string
                        category:
                          type: string
                        title:
                          type: string
                        subtitle:
                          type: string
                        published:
                          type: boolean
                        start_date:
                          type: string
                        end_date:
                          type: string
                        article_id:
                          type: string
                    articleDetails:
                      type: object
                      properties:
                        title:
                          type: string
                        summaryText:
                          type: string
                        impactRating:
                          type: object
                          properties:
                            uuid:
                              type: string
                            name:
                              type: integer
                        publishDate:
                          type: string
                        sefURL:
                          type: object
                          properties:
                            uuid:
                              type: string
                            sefUrl:
                              type: string
      parameters:
        - schema:
            type: string
          in: query
          name: start_date
          description: Date in format `YYYY-mm-DD`
        - schema:
            type: string
          in: query
          name: end_date
          description: Date in format `YYYY-mm-DD`
      description: 'Retrieve all Release Advisor events. If `start_date` and/or `end_date` is passed as a query param, all events between those dates will be returned.'
      security:
        - BasicAuth: []
    parameters: []
  '/releaseadvisor/all/{uuid}':
    parameters:
      - type: string
        name: uuid
        in: path
        required: true
        schema:
          type: string
        description: uuid of the event
    get:
      summary: Get ReleaseAdvisor Event With extra information
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    releaseAdvisor:
                      type: object
                      properties:
                        uuid:
                          type: string
                        category:
                          type: string
                        title:
                          type: string
                        subtitle:
                          type: string
                        published:
                          type: boolean
                        start_date:
                          type: string
                        end_date:
                          type: string
                        article_id:
                          type: string
                    articleDetails:
                      type: object
                      properties:
                        title:
                          type: string
                        summaryText:
                          type: string
                        impactRating:
                          type: object
                          properties:
                            uuid:
                              type: string
                            name:
                              type: integer
                        publishDate:
                          type: string
                        sefURL:
                          type: object
                          properties:
                            uuid:
                              type: string
                            sefUrl:
                              type: string
      description: Retrieves an individual event
      security:
        - BasicAuth: []
  '/releaseadvisor/all/next/{n}':
    get:
      summary: Get Next ReleaseAdvisor Events with article details
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    releaseAdvisor:
                      type: object
                      properties:
                        uuid:
                          type: string
                        category:
                          type: string
                        title:
                          type: string
                        subtitle:
                          type: string
                        published:
                          type: string
                        start_date:
                          type: string
                        end_date:
                          type: string
                        article_id:
                          type: string
                    articleDetails:
                      type: object
                      properties:
                        title:
                          type: string
                        summaryText:
                          type: string
                        impactRating:
                          type: object
                          properties:
                            uuid:
                              type: string
                            name:
                              type: integer
                        publishDate:
                          type: string
                        sefURL:
                          type: object
                          properties:
                            uuid:
                              type: string
                            sefUrl:
                              type: string
      description: Retrieves the next `n` Release Advisor events with article details.
      security:
        - BasicAuth: []
    parameters:
      - schema:
          type: string
        name: 'n'
        in: path
        required: true
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: Basic
      description: '"Basic" followed by a username and password separated by a colon, encoded in Base64.'
