openapi: 3.0.0
info:
  title: InsightPortal - Articles
  version: '1.0'
  contact:
    url: www.qualitytaskforce.com
servers:
  - url: 'https://api.insightportal.io'
paths:
  '/article/get-article/{sef-url}':
    get:
      summary: Get Article
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  uuid:
                    type: string
                  title:
                    type: string
                  summaryText:
                    type: string
                  editorName:
                    type: string
                  editorSurname:
                    type: string
                  dateOfPublished:
                    type: string
                  readTime:
                    type: integer
                  impactRating:
                    type: integer
                  articleUpdates:
                    type: array
                    items:
                      type: object
                      properties:
                        updateAt:
                          type: string
                        content:
                          type: string
                        readTime:
                          type: integer
                  testRecommendation:
                    type: string
                  fullText:
                    type: string
                  richardId:
                    type: string
                  richcardType:
                    type: string
                  category:
                    type: string
                  subcategory:
                    type: string
      description: Retrieves a specific article
      security:
        - BASIC_AUTH: []
    parameters:
      - schema:
          type: string
        name: sef-url
        in: path
        required: true
        description: sef-url for the article
components:
  schemas: {}
  securitySchemes:
    BasicAuth:
      type: http
      scheme: Basic
      description: '"Basic" followed by a username and password separated by a colon, encoded in Base64.'
